{% extends "base.html.twig" %}
{% block title %}ADMIN - {{ parent() }} - Liste des Articles {% endblock %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Titre</th>
            <th scope="col">DatePublication</th>
            <th scope="col">Auteur</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>

        {% for article in articles %}
            <tr>
                <th scope="row"><a href="/?controller=AdminArticle&action=edit&param={{ article.id }}">{{ article.Id }}</a></th>
                <td><a href="/?controller=AdminArticle&action=show&param={{ article.id }}">{{ article.Titre }}</a></td></td>
                <td>{{ article.DatePublication|date('d/m/Y') }}
                <td>{{ article.Auteur }}</td>
                <td><a href="/?controller=AdminArticle&action=delete&param={{ article.id }}"><i class="bi bi-trash"></i></a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}
